@use '../../../styles/variables' as v;
@use '../../../styles/responsive' as r;

$common-margin-default: 5vw;
$common-margin: #{clamp(18px, 5vw, 33px)};

.container {
  width: 100%;
}

.weddingDay {
  @include r.responsive(padding-top, 140);
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  @include r.responsive(margin-top, 18);
  .mapBtn {
    @include r.responsive(font-size, 11);
    padding: 6px 19px;
  }
}

.venueContainer {
  position: relative;
  margin: 0 auto;
  @include r.responsive(height, 500);
}

.venueframeWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;

  .venueframe {
    position: relative;
    margin: 0 auto;
    @include r.responsive(width, 260);
  }
}
.dateContainer {
  font-family: v.$cardo-font;
  @include r.responsive(font-size, 16);
  @include r.responsive(margin-bottom, 10);
  color: v.$soft-black;
}
.venueDetailWrapper {
  position: relative;
  z-index: 2;
  @include r.responsive(width, 183);
  @include r.responsive(top, 66);

  margin: 0 auto;

  .separatorWrapper {
    height: unset;
    @include r.responsive(margin-top, 9);
    @include r.responsive(margin-bottom, 4);

    .separator {
      border: none;
      @include r.responsive(width, 88);

      height: 1px;
      color: #7b7b7b;
      background-color: #7b7b7b;
      margin: 10px 0;
    }
  }

  .timeSection {
    font-family: v.$cardo-font;
  }

  .sectionHeader {
    color: v.$highlight-color;
  }

  .place {
    font-family: v.$cardo-font;
    @include r.responsive(margin-top, 12);
    .roomVenue {
      font-style: italic;
      color: v.$highlight-color;
      @include r.responsive(line-height, 16);
    }

    .hotelVenue {
      font-weight: 700;
      color: v.$highlight-color;
    }

    .address {
      @include r.responsive(font-size, 11);
      @include r.responsive(line-height, 15);
    }
  }
}
