@use '../../../styles/variables' as v;
@use '../../../styles/responsive' as r;

$common-margin-default: 5vw;
$common-margin: #{clamp(18px, 5vw, 33px)};

.container {
  width: 100%;
}

.weddingDay {
  @include r.responsive(padding-top, 140);
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  @include r.responsive(margin-top, 35);
  .mapBtn {
    padding: 6px 28px;
    border-radius: 12px;
  }
}

.venueContainer {
  position: relative;
  margin: 0 auto;
  @include r.responsive(height, 500);
}

.venueframeWrapper {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  overflow: hidden;
  justify-content: center;
  display: flex;

  .venueframe {
    position: relative;
    @include r.responsive(width, 336);
    z-index: 2;
  }

  .venuebg {
    position: absolute;
    top: 0;
    border-radius: 50%;
    z-index: 1;
    @include r.responsive(width, 196);
  }
}
.dateContainer {
  font-family: v.$cardo-font;
  @include r.responsive(font-size, 21);
  @include r.responsive(margin-bottom, 13);
  color: v.$soft-black;
}
.venueDetailWrapper {
  position: relative;
  z-index: 2;
  @include r.responsive(width, 208);
  @include r.responsive(top, 82);
  @include r.responsive(font-size, 18);

  margin: 0 auto;

  .separatorWrapper {
    height: unset;
    @include r.responsive(margin-top, 6);
    @include r.responsive(margin-bottom, 5);

    .separator {
      border: none;
      @include r.responsive(width, 114);

      height: 1px;
      color: #7b7b7b;
      background-color: #7b7b7b;
      margin: 13px 0;
    }
  }

  .timeSection {
    font-family: v.$cardo-font;
  }

  .sectionHeader {
    color: v.$highlight-color;
  }

  .place {
    font-family: v.$cardo-font;
    @include r.responsive(margin-top, 15);
    .roomVenue {
      font-style: italic;
      color: v.$highlight-color;
      @include r.responsive(line-height, 21);
    }

    .hotelVenue {
      font-weight: 700;
      color: v.$highlight-color;
    }

    .address {
      @include r.responsive(font-size, 14);
      @include r.responsive(line-height, 19);
    }
  }
}
