@use '../../../styles/variables' as v;

.EnvelopeTitleContainer {
  $marginTop: 15px;
  height: (calc(v.$envelope-content-height - #{$marginTop}));
  margin-top: $marginTop;
  z-index: 1;
  text-align: center;

  .title {
    font-size: 22px;
  }

  .name {
    height: 62px;
  }

  .hashTag {
    font-size: 17px;
  }
}
