@mixin fade-out($duration: 0.25s) {
  animation: fadeOut $duration forwards;

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}

@mixin fade-in($duration: 0.25s) {
  animation: fadeIn $duration forwards;

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}
