$text-color: #1c1b19;
$field-color: #fcddd8;

$title-font: LeJourScript;
$countdown-font: 'Alex Brush', cursive;
$text-font: GlacialIndifference, Inter, system-ui, Avenir, Helvetica, Arial,
  sans-serif;
$text-serif-font: 'Times New Roman', Times, Cambria, Cochin, Georgia, serif;

$envelope-content-height: 180px;
