@use '../../styles/variables' as v;
@use '../../styles/responsive' as r;

.title {
  font-family: v.$title-font;
  margin-bottom: 14px;
  color: v.$highlight-color;
  @include r.responsive(font-size, 24);
}
