@use '../../../styles/variables' as v;
@use '../../../styles/responsive' as r;

.container {
  width: 100%;
  margin-bottom: 96px;
}
.title {
  padding-top: 110px;
  @include r.responsive(margin-bottom, 24);
}

.storyContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.storyWrapper {
  padding-top: 6px;
  padding-bottom: 10px;
  @include r.responsive(padding-left, 17);
  @include r.responsive(padding-right, 17);
  border-radius: 21px;
  background-color: rgba(white, 0.5);
  @include r.responsive(width, 272);
  margin-bottom: 40px;
}

.year {
  font-family: v.$cardo-font;
  font-style: italic;
  margin-bottom: 2px;
}

.storyTitle {
  font-family: v.$cardo-font;
  font-weight: 700;
  color: v.$highlight-color;
  margin-bottom: 2px;
  @include r.responsive(font-size, 15);
}

.story {
  @include r.responsive(font-size, 12);
}
