@use '../../styles/variables' as v;
@use '../../styles/responsive' as r;

.mainHeaderContainer {
  width: 100%;
  height: 100vh;
  background: url('../../assets/images/background-amplop.png');
  background-size: cover;
  background-position: center;
  position: sticky;
  top: 0;
  overflow: hidden;
  transition: background-color 0.5s ease;

  // &.changeBackground {
  //   background-color: rgba(202, 219, 226, 1);
  // }

  .innerContainer {
    width: 100%;
    height: 100vh;
    height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.scrollArea {
  position: relative;
  height: 150vh;
}

.scrollDownHint {
  position: fixed;
  bottom: 5vh;
  opacity: 0;
  font-size: 16px;
  width: 100%;
  transition: opacity 0.5s;

  img {
    height: 20px;
    margin-top: 6px;
    animation: moveUpDown 1.5s infinite;
  }

  &.showHint {
    transition: opacity 0.5s 0.2s;
    opacity: 1;
  }
}

@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5px);
  }
}
