@use '../../../styles/variables' as v;
@use '../../../styles/responsive' as r;

.container {
  width: 100%;
  padding: 0 8px;

  .giftButton {
    background-color: v.$highlight-color;
    color: white;
    padding: 8px 24px;
  }

  .giftButtonSubmit {
    background-color: v.$field-color;
    color: v.$soft-black;
    padding: 6px 26px;
  }

  .giftInput {
    @include r.responsive(padding, 6);
    border: 1px solid white;
    border-radius: 8px;
    &:focus,
    &:active {
      border-color: v.$field-color;
      outline: v.$field-color;
    }
  }
}

.wrapper {
  position: relative;
  background-color: rgba(203, 217, 224, 0.5);
  border-radius: 8px;
  margin: 0 auto;
  @include r.responsive(padding, 16);
  @include r.responsive(width, 319);
  margin-bottom: 124px;
}
.title {
  @include r.responsive(padding-top, 140);
  color: v.$highlight-color;
}

.desc {
  margin-bottom: 32px;
  @include r.responsive(padding-left, 35);
  @include r.responsive(padding-right, 35);
}

.descForm {
  @include r.responsive(margin-bottom, 4);
  @include r.responsive(padding-left, 10);
  @include r.responsive(padding-right, 10);
}

.giftsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 27px;
}

.accountContainer {
  border-radius: 18px;
  padding: 4px 30px;
  background-color: rgba(white, 0.5);
  margin-bottom: 7px;
}

.accountTitle {
  font-family: v.$cardo-font;
  font-weight: 700;
  color: v.$highlight-color;
  @include r.responsive(font-size, 16);
}

.giftForm {
  display: flex;
  flex-direction: column;
  padding: 0 8px;
  @include r.responsive(font-size, 12);

  input,
  textarea,
  select {
    &::placeholder {
      @include r.responsive(font-size, 12);
    }
  }
}

.inputContainer {
  margin-bottom: 8px;
}

.buttonContainer {
  justify-content: center;
  display: flex;
}

.ornContainer {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;
  left: 0;

  .arrange1 {
    position: relative;
    z-index: 1;
    @include r.responsive(height, 44);
  }
  .arrange2 {
    position: relative;
    z-index: 2;
    @include r.responsive(height, 68);
  }
  .ornTop {
    display: flex;
    position: absolute;
    @include r.responsive(top, -17);
    @include r.responsive(right, -17);

    .arrange1 {
      transform: scaleX(-1);
      transform-origin: top;
      @include r.responsive(top, -12);
      @include r.responsive(left, 17);
    }
  }
  .ornBottom {
    position: absolute;
    @include r.responsive(bottom, -19);
    @include r.responsive(left, -19);

    .arrange1 {
      @include r.responsive(left, -16);
      @include r.responsive(bottom, -2);
      transform: rotate(10deg);
    }

    .arrange2 {
      transform: rotate(180deg);
    }
  }
}
