@use '../../../styles/variables' as v;

.container {
  width: 100%;
  min-height: 100vh;
  padding: 0 16px;
}

.wrapper {
  background-color: #cbd9e0;
  border-radius: 20px;
  margin: 0 auto;
  padding: 16px;
  max-width: 660px;
}
.title {
  font-size: 28px;
  margin-top: 16px;
  color: #991b61;
}

.desc {
  font-family: v.$text-serif;
  margin-bottom: 20px;
}

.giftsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 24px;
}

.accountContainer {
  border-radius: 28px;
  padding: 12px 32px;
  background-color: #fcf8f1;
  margin-bottom: 4px;
  font-family: v.$text-serif;
}

.accountTitle {
  font-family: v.$text-serif;
  font-size: 28px;
  font-weight: bold;
  color: #991b61;
}
