@use '../../../../styles/variables' as v;

.cardContainer {
  position: relative;
  width: 300px;
  height: 200px;
  transition: all 1s;
}

.mainCard {
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotateZ(2deg);
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: transform 0.6s ease;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #c9bd81;
  border-top: none;
}

.cardSurface {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.titleCard {
  transform-origin: top;
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  background: greenyellow;
  transition: transform 0.6s cubic-bezier(0.1, 0.57, 0.51, 0.98);
  z-index: 1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .frontTitle {
    background-color: #eabdbf;
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .backTitle {
    background-color: #eabdbf;
    transform: rotateY(180deg);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.titleContainer {
  margin-top: 28px;

  .name {
    height: 48px;
    margin-bottom: -9px;
  }

  .date {
    font-size: 14px;
  }
}

.recipient {
  margin-top: 28px;
  font-size: 14px;
  display: flex;
  flex-direction: column;

  .guestName {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 56px;
    padding: 0 14px;
  }
}

.backCard {
  position: relative;
  background-color: v.$main-background-color;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
