@use '../../../../styles/variables' as v;

.cardContainer {
  position: relative;
  width: 300px;
  height: 200px;
  transition: all 1s;
}

.mainCard {
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.4));
  background-color: white;
  width: 100%;
  height: 100%;
  position: relative;
  transform: rotateZ(2deg);
  transform-style: preserve-3d;
  perspective: 2000px;
  transition:
    transform 0.6s ease,
    opacity 0.6s ease-in;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid #c9bd81;
  border-top: none;
  opacity: 1;

  &.hideMainCard {
    opacity: 0;
  }
}

.cardSurface {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.titleCard {
  transform-origin: top;
  position: absolute;
  transform-style: preserve-3d;
  width: 100%;
  height: 100%;
  transition: transform 0.6s cubic-bezier(0.1, 0.57, 0.51, 0.98);
  z-index: 1;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  .frontTitle {
    background: linear-gradient(
        0deg,
        rgba(234, 189, 191, 0.7),
        rgba(234, 189, 191, 0.7)
      ),
      url('../../../../assets/images/letter-texture.png');
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .backTitle {
    background: linear-gradient(
        0deg,
        rgba(255, 243, 216, 0.4),
        rgba(255, 243, 216, 0.4)
      ),
      url('../../../../assets/images/letter-texture.png');
    background-size: cover;
    transform: rotateY(180deg);
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
}

.titleContainer {
  margin-top: 28px;

  .name {
    height: 48px;
    margin-bottom: -9px;
  }

  .date {
    font-size: 14px;
  }
}

.recipient {
  margin-top: 28px;
  font-size: 14px;
  display: flex;
  flex-direction: column;

  .guestName {
    text-overflow: ellipsis;
    overflow: hidden;
    max-height: 56px;
    padding: 0 14px;
  }
}

.backCard {
  position: relative;
  background: linear-gradient(
      0deg,
      rgba(255, 243, 216, 0.4),
      rgba(255, 243, 216, 0.4)
    ),
    url('../../../../assets/images/letter-texture.png');
  background-size: cover;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;

  &.backCardFinished {
    background: v.$main-background-color !important;
  }
}
