.openingInvitation {
  position: absolute;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  padding-top: 20px;

  .initial {
    font-size: 28px;
  }

  .frameContainer {
    margin: 22px 0;
  }

  .weInvite {
    font-size: 24px;
  }

  .name {
    font-size: 30px;
    margin: 12px 0;
  }

  .words {
    font-size: 18px;
    padding: 0 8px;
  }

  .hashtag {
    position: absolute;
    width: 100%;
    bottom: 16px;
    font-size: 20px;
  }
}
