@use '../../../../styles/variables' as v;

%backdrop {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: v.$main-background-color;
}

.openingInvitation {
  position: absolute;
  bottom: 0;
  height: 100vh;
  width: 100%;
  padding-top: 150px;
  padding-top: max(24vh, 150px);
  background-image: url('../../../../assets/images/paper-background.png');
  background-position: top left;
  background-size: 100% auto;
  background-repeat: repeat;

  &::before {
    @extend %backdrop;
  }

  .initial {
    height: 68px;
    margin-bottom: 12px;
  }

  .frameContainer {
    margin-bottom: 46px;

    .frameWrapper {
      width: 95%;
      max-height: 545px;
    }
  }

  .weInvite {
    font-size: 6.4vw;
    font-size: clamp(20px, 6.4vw, 28px);
    padding-top: 24px;
  }

  .name {
    font-size: 30px;
    margin: 12px 0;
  }

  .words {
    padding: 0 8px;
    margin-bottom: 42px;
  }

  .hashtag {
    width: 100%;
    bottom: 0;
  }
}

.nameImg {
  height: 18.7vw;
  height: clamp(59px, 18.7vw, 80px);
}

.bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: url('../../../../assets/images/paper-background.png');
  background-position: top left;
  background-size: 100% auto;
  background-repeat: repeat;
  top: -100%;
  left: 0;
  &::before {
    @extend %backdrop;
  }
}

.frontframe {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 2;
}

.photoWrapper {
  margin: 0 auto;
  width: 87%;
  position: relative;
  height: 86%;
  max-height: 442px;
  top: 11%;
  top: clamp(24px, 11%, 57px);
  overflow: hidden;
  border-radius: 36%;

  .photo {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
}
