.scrollArea {
  height: 350vh;
}

.stickyContainer {
  width: 100%;
  height: 100vh;
  position: sticky;
  top: 0;
  overflow: hidden;
}

.table {
  background-color: sandybrown;
  position: relative;
  transform-origin: top;
}

.tableItem {
  position: relative;
}
