@use '../../../styles/variables' as v;
@use '../../../styles/responsive' as r;

.sectionContainer {
  padding-bottom: 17px;
  padding-top: 52px;

  .title {
    margin-bottom: 30px;
  }
}

.contentContainer {
  position: relative;
  z-index: 2;
}

.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 12px;
}

.countDownGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  @include r.responsive(row-gap, 20);
  @include r.responsive(column-gap, 24);
  align-items: center;
  justify-items: center;
  width: 100%;
  @include r.responsive(max-width, 208);
  margin-bottom: 24px;

  .item {
    border-radius: 26px;
    background-color: rgba(249, 246, 228, 0.6);
    width: 100%;
    height: 100%;
    padding: 25px 16px;
  }

  .number {
    font-family: v.$countdown-font;
    @include r.responsive(font-size, 27);

    color: v.$highlight-color;
    margin-bottom: -10px;
  }

  .unit {
    color: v.$soft-black;

    @include r.responsive(font-size, 14);
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.ornContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  top: 0;

  .bottomLeft1 {
    position: absolute;
    bottom: 0;
    @include r.responsive(left, 36);
    height: 56px;
  }
  .bottomLeft2 {
    position: absolute;
    bottom: 10px;
    @include r.responsive(left, -8);
    height: 73px;
  }

  .bottomRight1 {
    position: absolute;
    bottom: 0;
    @include r.responsive(right, 36);
    height: 56px;
    transform: scaleX(-1);
  }
  .bottomRight2 {
    position: absolute;
    bottom: 10px;
    @include r.responsive(right, -8);
    height: 73px;
    transform: scaleX(-1);
  }

  .left1 {
    position: absolute;
    height: 78px;
    left: -2px;
    bottom: 68px;
    transform-origin: top;
    transform: rotate(84deg);
  }
  .left2 {
    position: absolute;
    height: 76px;
    left: -8px;
    bottom: 220px;
    transform: rotate(188deg);
  }
  .left3 {
    position: absolute;
    height: 102px;
    left: 4px;
    bottom: 298px;
    transform-origin: top;
    transform: rotate(12deg);
  }

  .right1 {
    position: absolute;
    height: 102px;
    right: -16px;
    bottom: 87px;
    transform: rotate(202deg);
  }
  .right2 {
    position: absolute;
    height: 76px;
    right: -8px;
    bottom: 189px;
    transform: rotate(-6deg);
  }
  .right3 {
    position: absolute;
    height: 78px;
    right: -2px;
    bottom: 250px;
    transform-origin: top;
    transform: rotate(84deg) scaleY(-1);
  }

  .topLeaves {
    position: absolute;
    @include r.responsive(height, 28);
    width: 100%;
    top: 0;
    background: url('../../../assets/images/topLeaves.png');
    background-size: contain;
  }
}
