@use '../../../styles/variables' as v;

.gridContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.countDownGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 20px;
  column-gap: 24px;
  align-items: center;
  justify-items: center;
  width: 100%;
  max-width: 290px;
  margin-bottom: 24px;

  .item {
    border-radius: 26px;
    background-color: #f9f6e4;
    width: 100%;
    height: 100%;
    padding: 24px 16px;
  }

  .number {
    font-family: v.$countdown-font;
    font-size: 40px;
    color: #a66087;
    margin-bottom: -10px;
  }

  .unit {
    color: #574916;
    font-size: v.$content-font-size-default;
    font-size: v.$content-font-size;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
