@use '../../../styles/variables' as v;
.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.frameContainer {
  max-width: 660px;
  position: relative;
  margin: 0 auto;
  flex: 1;
  width: 100%;
}

.frameContent {
  position: relative;
  z-index: 2;
  top: 20vw;

  .title {
    position: relative;
    font-size: 6vw;
    margin-bottom: 4.5vw;
  }

  .desc {
    font-size: 3.6vw;
    padding: 0 9vw;
  }
}

.frame {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.buttonContainer {
  margin-top: 8px;
  justify-content: center;
  display: flex;
}

.rsvpButton {
  background-color: v.$highlight-color;
  color: white;
  font-size: 18px;
  padding: 8px 24px;
}
