@use '../../../styles/variables' as v;

$body-font-size: clamp(14px, 4.3vw, 25px);
$frame-min-width: 420px;

.container {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.frameContainer {
  max-width: 660px;
  position: relative;
  margin: 0 auto;
  flex: 1;
  width: 100%;
  overflow: hidden;
}

.frameContent {
  position: absolute;
  z-index: 2;
  margin-top: 20vw;

  .title {
    position: relative;
    font-size: 6vw;
    margin-bottom: 4.5vw;
  }

  .desc {
    font-size: 3.7vw;
    font-size: $body-font-size;
    font-family: v.$text-serif-font;
    padding: 0 10vw;
    margin-bottom: 3.5vw;
  }

  .form {
    padding: 0 11vw;
    input,
    select {
      font-size: 3.6vw;
      font-size: $body-font-size;
      padding-top: 6px;
      padding-bottom: 6px;
      margin-bottom: 2.6vw;
      border-radius: 8px;
      background-color: #fcf8f1;
      border-color: #fcf8f1;
    }
    button {
      font-size: 3.6vw;
      font-size: $body-font-size;
    }
  }

  .emptySelect {
    color: rgba(0, 0, 0, 0.5);
    option:not(:disabled) {
      color: black;
    }
  }

  .filledSelect {
    option:not(:disabled) {
      color: black;
    }
  }
}

.frame {
  position: relative;
  width: 100%;
  top: 0;
  left: 0;
  left: min(calc((100vw - $frame-min-width) / 2), 0vw);
  min-height: 543px;
  min-width: $frame-min-width;
}

.buttonContainer {
  margin-top: 8px;
  justify-content: center;
  display: flex;
}

.rsvpButton {
  background-color: v.$highlight-color;
  color: white;
  font-size: 18px;
  padding: 8px 24px;
}

@media screen and (max-width: 340px) {
  .frameContent {
    .form {
      padding: 0 6.5vw;
    }
  }
}

@media screen and (max-width: 374px) {
  .frameContent {
    .title {
      font-size: 7vw;
    }
    .desc {
      padding: 0 8vw;
    }

    .form {
      input,
      select {
        font-size: 16px;
        font-size: $body-font-size;
      }
    }
  }
}

@media screen and (min-width: 375px) {
  .frame {
    min-width: clamp(0px, 112vw, 660px);
    left: clamp(-6vw, calc((100vw - 660px) / 2), 0vw);
  }
}

@media screen and (min-width: 660px) {
  .frameContent {
    margin-top: 132px;
    .title {
      font-size: 40px;
      margin-bottom: 30px;
    }
    .desc {
      font-size: 25px;
      padding: 0 66px;
      margin-bottom: 18px;
    }

    .form {
      padding: 0 72px;
      input,
      select {
        font-size: 24px;
        margin-bottom: 12px;
      }

      button {
        font-size: 24px;
      }
    }
  }
}
