@use '../../../styles/variables' as v;
@use '../../../styles/responsive' as r;

$frame-min-width: 420px;

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.frameContainer {
  max-width: 660px;
  position: relative;
  margin: 0 auto;
  flex: 1;
  width: 100%;
  overflow: hidden;
  margin-bottom: 124px;
}

.frameContent {
  position: absolute;
  width: 100%;
  z-index: 2;
  @include r.responsive(margin-top, 55);

  .title {
    position: relative;
    @include r.responsive(margin-bottom, 16);
    @include r.responsive(font-size, 24);
  }

  .desc {
    @include r.responsive(width, 266);
    margin: 0 auto;
    @include r.responsive(margin-bottom, 10);
    @include r.responsive(line-height, 19);
  }

  .form {
    @include r.responsive(width, 237);
    margin: 0 auto;
    input,
    select {
      @include r.responsive(font-size, 12);
      @include r.responsive(padding-top, 4);
      @include r.responsive(padding-bottom, 4);

      @include r.responsive(margin-bottom, 12);
      border-radius: 8px;
      background-color: #fcf8f1;
      border: 2px solid #fcf8f1;
      &:focus,
      &:active {
        border-color: v.$highlight-color;
        outline: v.$highlight-color;
      }
    }

    input:read-only {
      color: rgba(0, 0, 0, 0.5);
      background-color: #f1ece2;
      border: 2px solid #f1ece2;
    }
    button {
      @include r.responsive(font-size, 12);
    }
  }

  .emptySelect {
    color: rgba(0, 0, 0, 0.5);
    option:not(:disabled) {
      color: v.$soft-black;
    }
  }

  .filledSelect {
    option:not(:disabled) {
      color: v.$soft-black;
    }
  }
}

.frame {
  @include r.responsive(width, 320);
  opacity: 0.6;
}

.flowerWrapper {
  z-index: 2;
}

.framePurpleSmall {
  position: absolute;
  left: 60px;
  left: clamp(0px, 100vw * 60 / 400, 96px);
  @include r.responsive(top, 14);
  @include r.responsive(height, 88);

  @media screen and (max-width: 375px) {
    left: 42px;
    left: clamp(0px, 100vw * 42 / 400, 96px);
  }
}

.framePurpleBig {
  position: absolute;
  transform: rotate(10deg) !important;
  right: 47px;
  right: clamp(0px, 100vw * 47 / 400, 75.2px);
  bottom: 19px;
  @include r.responsive(height, 102);

  @media screen and (max-width: 375px) {
    right: 26px;
    right: clamp(0px, 100vw * 26 / 400, 96px);
  }
}

.buttonContainer {
  margin-top: 8px;
  justify-content: center;
  display: flex;
}

.rsvpButton {
  background-color: v.$highlight-color;
  color: white;
  padding: 6px 18px;
}
