.container {
  text-align: center;
  color: black;
  background-image: url('./assets/images/paper-background.png');
  background-position: top left;
  background-size: 100% auto;
  background-repeat: repeat;
  position: relative;

  & > * {
    background-color: rgba(246, 221, 166, 0.2);
  }
}

.hideContent {
  height: 0;
  overflow: hidden;
}
