@use './styles/variables' as v;

.container {
  text-align: center;
  color: black;
  background-image: url('./assets/images/paper-background.png');
  background-position: top left;
  background-size: 100% auto;
  background-repeat: repeat;
  position: relative;

  & > * {
    background-color: v.$main-background-color;
  }
}

.hideContent {
  height: 0;
  overflow: hidden;
}
