@use './styles/variables' as v;
@use './styles/animation' as a;

.container {
  text-align: center;
  color: v.$soft-black;
  background-position: top left;
  background-size: 100% auto;
  background-repeat: repeat;
  position: relative;

  &.containerBg {
    background-color: v.$main-background-color;
  }
}

.contentContainer {
  max-width: v.$container-max-width;
  margin: 0 auto;
  overflow: hidden;

  &.containerImg {
    background: linear-gradient(
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url('./assets/images/background-amplop.png');
    background-position: top left;
    background-size: 100% auto;
    background-repeat: repeat;
    & > * {
      background-color: v.$main-background-color;
    }
  }
}

.hideContent {
  height: 0;
  overflow: hidden;
}

.bngSeparator {
  font-family: v.$countdown-font;
  font-size: 42px;
  margin: 46px 0;
}

.loadingContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  position: fixed;
  top: calc(50vh - 20px);
  left: calc(50vw - 20px);
}

.loadingIndicator {
  border: 4px solid #f6f2e5;
  border-top: 4px solid #a6b4c0;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
