@use './styles/variables.scss' as v;
@font-face {
  font-family: 'LeJourScript';
  src: url('./assets/fonts/LeJourScript.ttf') format('truetype');
}

@font-face {
  font-family: GlacialIndifference;
  src: url('./assets/fonts/GlacialIndifference-Bold.otf') format('opentype');
  font-weight: bold;
}

@font-face {
  font-family: GlacialIndifference;
  src: url('./assets/fonts/GlacialIndifference-Italic.otf') format('opentype');
  font-style: italic;
}

@font-face {
  font-family: GlacialIndifference;
  src: url('./assets/fonts/GlacialIndifference-Regular.otf') format('opentype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-width: 0;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: v.$text-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  scroll-behavior: smooth;

  /* Hide scrollbar for Chrome, Safari and Opera */
  & ::-webkit-scrollbar {
    position: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

#root {
  width: 100vw;
  min-height: 100vh;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: v.$text-font;
  background-color: white;
  font-size: v.$content-font-size-default;
  font-size: v.$content-font-size;
}

input,
textarea,
select {
  background: transparent;
  color: v.$text-color;
  padding: 10px 6px;
  border: 2px solid #f9f6e4;
  border-radius: 12px;
  font-family: v.$text-font;
  resize: none;

  &:focus,
  &:active {
    border-color: v.$field-color;
    outline: v.$field-color;
  }
  &::placeholder,
  &:invalid {
    color: rgba(0, 0, 0, 0.5);
  }
}
