@use '../../styles/variables' as v;

.envelopeSectionContainer {
  height: 100vh;
  width: 100vw;
  background-color: #9de2f2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.guestNameContainer {
  z-index: 1;
  height: v.$envelope-content-height;
  text-align: center;
  padding-top: 37px;
}

.openInvitation {
  background-color: #fcddd8;
  border-radius: 20px;
  padding: 6px 16px;
  margin-top: 6px;
  cursor: pointer;
  transition: transform 0.1s ease;
  &:hover {
    transform: scale(1.05);
  }
}

.cloud {
  position: absolute;
  height: 163px;
  z-index: 0;

  &.cloud1 {
    top: 0;
    left: -100px;
  }
  &.cloud2 {
    top: 12vh;
    right: -135px;
  }
  &.cloud3 {
    bottom: 11vh;
    left: -150px;
  }
  &.cloud4 {
    bottom: -4vh;
    right: -150px;
  }
}
