@use '../../styles/variables' as v;

.envelopeSectionContainer {
  height: 100vh;
  width: 100%;
  background-color: v.$main-background-color;
  overflow: hidden;

  .innerContainer {
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    position: relative;
  }
}

.guestNameContainer {
  z-index: 1;
  height: v.$envelope-content-height;
  text-align: center;
  padding-top: 37px;
}
