@use '../../styles/variables' as v;

.envelopeSectionContainer {
  height: 100vh;
  width: 100%;
  background-color: #9de2f2;
  overflow: hidden;

  .innerContainer {
    height: 100vh;
    height: 100svh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-content: center;
    position: relative;
  }
}

.guestNameContainer {
  z-index: 1;
  height: v.$envelope-content-height;
  text-align: center;
  padding-top: 37px;
}

.cloud {
  position: absolute;
  height: 163px;
  z-index: 0;

  &.cloud1 {
    top: 0;
    left: -100px;
  }
  &.cloud2 {
    top: 12vh;
    right: -135px;
  }
  &.cloud3 {
    bottom: 11vh;
    left: -150px;
  }
  &.cloud4 {
    bottom: -4vh;
    right: -150px;
  }
}
